:root {
  --container-bg: #0e1d2c;
  --main-bg: #0d151c;

  --progress-done: #75b975;
  --progress-left: #25476c;
  --progress-scroller: #27466b;

  --header-text: #d69b4f;
  --content-text: #f5f5f5;
  --logo-bg: #976c36;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background: var(--main-bg);
  color: whitesmoke;

  display: flex;
  flex-direction: column;
}
